<h2>Listado de Cursos</h2>

<table class="table text-center">
    <thead>
        <tr>
            <th></th>
            <th>Titulo</th>
            <th>Descripcion</th>
            <th>Precio</th>
            <th>Dirigido</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let curso of cursos" [ngClass]="{oferta: curso.oferta}">
            <td><img width="90" [src]="curso.imagen" [alt]="curso.titulo"></td>
            <td>{{curso.titulo | uppercase}}</td>
            <td>{{curso.descripcion}}</td>
            <td>{{curso.precio | currency}}</td>
            <td>{{curso.dirigido}}</td>
            <td><span class="badge bg-success" *ngIf="curso.oferta">EN OFERTA</span></td>
            <td>
                <div>
                    <button class="btn btn-primary btn-sm" (click)="agregrarAlCarrito(curso)">
                        Agregar
                    </button>
                </div>
                <div>
                    <button class="btn btn-success btn-sm">
                        Favorito
                    </button>
                </div>    
            </td>
        </tr>
    </tbody>
</table>
