.oferta{
    // border: 5px solid rgba(255, 255, 0, 0.598);
    background-color: rgba(200, 230, 31, 0.56);
}

td{
    vertical-align: middle;
}

div button {
    margin-bottom: 5px;
}

table {
    border: 1px solid black;
}