.oferta{
    border: 5px solid rgba(255, 255, 0, 0.598);
    background-color: lightyellow;
}

td{
    vertical-align: middle;
}

div button {
    margin-bottom: 5px;
}

table {
    border: 2px solid black;
}