<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>Titulo</th>
            <th>Descripcion</th>
            <th>Precio</th>
            <th>Dirigido</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><img [src]="cursos.imagen" [alt]="cursos.titulo"></td>
            <td>{{cursos.titulo}}</td>
            <td>{{cursos.descripcion}}</td>
            <td>{{cursos.precio}}</td>
            <td>{{cursos.dirigido}}</td>
        </tr>
        <tr>
            <td>Curso 2</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>Curso 3</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>
