<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>Titulo</th>
            <th>Descripcion</th>
            <th>Precio</th>
            <th>Dirigido</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let curso of cursos" [ngClass]="{oferta: curso.oferta}">
            <td><img [src]="curso.imagen" [alt]="curso.titulo"></td>
            <td>{{curso.titulo | uppercase}}</td>
            <td>{{curso.descripcion}}</td>
            <td>{{curso.precio | currency}}</td>
            <td>{{curso.dirigido}}</td>
            <td><span class="badge bg-success" *ngIf="curso.oferta">EN OFERTA</span></td>
        </tr>
    </tbody>
</table>
