<h2>Formulario de contacto</h2>

<div class="mb-3">
    <label for="nombre" class="form-label">Nombre</label>
    <input type="text" class="form-control" id="nombre" placeholder="Escriba su nombre">
</div>
<div class="mb-3">
    <label for="apellido" class="form-label">Apellido</label>
    <input type="text" class="form-control" id="apellido" placeholder="Escriba su apellido">
</div>
<div class="mb-3">
    <label for="telefono" class="form-label">Telefono</label>
    <input type="text" class="form-control" id="telefono" placeholder="Escriba su telefono">
</div>
<div class="mb-3">
    <label for="email" class="form-label">Correo electronico</label>
    <input type="email" class="form-control" id="email" placeholder="Escriba su correo electronico">
</div>
<div class="mb-3">
    <label for="comentario" class="form-label">Consulta/Sugerencia</label>
    <textarea class="form-control" id="comentario" rows="3"></textarea>
</div>

<div>
    <button class="btn btn-primary">Enviar</button>
</div>