.container {
    width: 100%;   
}

footer {
    font-weight: bold;
    text-align: center;
    height: 60px;
    line-height: 60px;
    background-color: rgb(233, 193, 72);
}

.col{
    margin: 150px;
}

