<h2>ACERCA DE NOSOTROS</h2>

<div class="row">

    <div class="col-4">
        <img src="./assets/img/persona.jpg" alt="persona" srcset="">
        <h3>Juan Perez</h3>
        <h3>Lic. en Administracion de Empresas</h3>
        
        <p>Juan, tiene 42 años, se graduo en el año 2000, egresado de la UBA.</p>
    </div>
    <div class="col-4">
        <img src="./assets/img/persona.jpg" alt="persona" srcset="">
        <img src="" alt="" srcset="">
        <h3>Luciana Gonzalez</h3>
        <h3>Ing. en Sistemas</h3>
        <p>Luciana, tiene 32 años, se graduo en el año 2010, egresada de la UNICEN.</p>
    </div>
    <div class="col-4">
        <img src="./assets/img/persona.jpg" alt="persona" srcset="">
        <img src="" alt="" srcset="">
        <h3>Hector Lopez</h3>
        <h3>Lic. en Marketing</h3>
        <p>Hector, tiene 28 años, se graduo en el año 2018, egresado de la USEMA.</p>
    </div>
    
</div>
